#This is a configuration file for the simulation in the LPF format (see lib/format_lpf.h for spec and implementation)
# Note that all types are optional

#This flag selects one of the configurations. 
#If is not found within this file uses the argument as a path instead
select: example

example { 
    #The simulation parameters (see paper for explanation)
    # No defaults
    params {
        sym_mesh 2f :1024 1024
        sym_size f  :4
        
        dt          :0.005
        L           :2
        xi          :0.00411
        a           :2
        b           :1
        beta        :8
        Tm          :2
        Tini        :0
    }

    #initial conditions
    #  Defaults to circle at the center of the region with radius 1/8 of the sym_size
    #  inside_phi = 1 and inside_T, outside_T, outside_phi = 0
    initial_conditions {
        inside_T    :0
        inside_phi  :1
        outside_T   :0
        outside_phi :0    
        
        circle_center 2f    :2 2
        circle_radius f     :0.2

        square_from 2f      :0.5 0.5 
        square_to 2f        :1 1

        #can start from a snapshot
        # start_snapshot : path/to/a/snapshot.snap
    }
    
    #snapshot settings
    #Defaults to no snapshots and never stop
    snapshot {
        #either sym_time or sym_iters to pause the symulation
        #negative values indicate the symulation should never pause
        #if both are defined stops at whichever is sooner
        sym_time    :10
        sym_iters   :4000

        folder  :snapshots  #defaults to snapshots
        prefix  :example    #defaults to name of this config scope

        #if both are defined uses whichever is smaller (after converting to number of iter)
        number  :10
        every   :0.4
    }
}
